h1 {
    
    color: rgb(255, 255, 255);
    font: 15px inherit;
    
    text-align: left
    
    }
    h6 {
    
        color: rgb(255, 255, 255);
        font: 15px inherit;
        
        text-align: left
        
        }

    body {
        background-color: #181818;
        position: relative;
      
       }

    
